@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* primary font colors */
    --veryDarkDesBlue: hsl(238, 29%, 16%);
    --softRed: hsl(14, 88%, 65%);
    /* gradient colors */
    --softViolet: hsl(273, 75%, 66%);
    --softBlue: hsl(240, 73%, 65%);
    /* other font colors */
    --veryDarkGrayishBlue: hsl(237, 12%, 33%);
    --darkGrayishBlue: hsl(240, 6%, 50%);
    /* Dividers colors */
    --dividersBlue: hsl(240, 5%, 91%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif, arial;
    font-size: 16px;
    font-weight: 400;
    color: var(--darkGrayishBlue);
    background-image: linear-gradient(var(--softBlue), var(--softViolet));
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    position: absolute;
        height: 1px;
        width: 1px;
        overflow: hidden;
        display: none;
}

.FAQCard {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #fbfbfb;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    max-width: 800px;
    min-height: 400px;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: -4rem;
}

/* The right side of the card */
.FAQSection {
    margin-top: 3rem;
    width: 50%;
    align-self: flex-start;
}

.title {
    color: var(--veryDarkDesBlue);
    margin-bottom: 2rem;
}

.questions {
    margin-right: 3rem;
    font-size: 0.75rem;
}

.question {
    position: relative;
    color: var(--veryDarkGrayishBlue);
    margin: 0.8rem 0;
    cursor: pointer;
}

.question:hover {
    color: var(--softRed);
}

.question::after {
    content: url(images/icon-arrow-down.svg);
    position: absolute;
    right: 0;
}


.dropdown {
    overflow: hidden;
    height: 0;
    border-bottom: 1px solid var(--dividersBlue);

}
/* The left side of the card */
.imageSection {
    position: relative;
    width: 50%;
}

.imageWrapper {
    overflow: hidden;
    position: relative;
}

.woman__desktop {
    width: 100%;
    position: relative;
    right: 4rem;
}

.woman__mobile {
    display: none;
}

.box  {
    z-index: 1;
    position: absolute;
    top: 5.5rem;
    bottom: 0;
    right: 18rem;
}

.answer {
    margin-bottom: 0.5rem;
}

/* mobile styling rules*/

@media (max-width: 800px) {
    .FAQCard {
        flex-direction: column;
        background-image: none;
        padding: 0 2rem;
        min-height: 480px;
    }

    .box {
        display: none;
    }

    .FAQSection {
        width: 100%;
        margin-top: 6rem;
    }

    .questions {
        width: 100%;
    }

    .question {
        font-weight: 400;
    }

    .imageSection {
        display: none;
    }

    .woman__desktop {
        display: none;
    }

    main {
        position: relative;
    }
    .woman__mobile {
        display: block;
        position: absolute;
        width: 200px;
        left: 0;
        right: 0;
        margin: auto;
        top: -90px;
    }

    .title {
        text-align: center;
    }
}

/* Animation classes */

.collapse {
	height: 0;
}

.collapsing {
	transition: 0.5s ease-in-out;
}

.show {
	height: 50px;
}